.cart-container {
    padding: 20px;

    h1{
        text-align: center;
        margin-bottom: 2.5em;
        font-size: 2.5em;
    }
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.cart-item-poster {
    width: 125px;
    height: 170px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
    p{
        color: #4CAF50;
        font-size: 1.2em;
    }
    h2{
        font-size: 1.8em;
        margin-bottom: 10px;
    }
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}