.cart-container {
    padding: 20px;

    h1{
        text-align: center;
        margin-bottom: 2.5em;
        font-size: 2.5em;
    }
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.cart-item-poster {
    width: 125px;
    height: 170px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-info {
    flex-grow: 1;
    p{
        color: #4CAF50;
        font-weight: 700;
        font-size: 1.2em;
        text-align: left;
        padding-bottom: 20px;
    }
    h2{
        text-align: left;
        font-size: 1.8em;
        margin-bottom: 10px;
    }
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    padding: 5px 10px;
    margin: 0 10px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

.remove-btn {
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.checkout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #23ca29;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.order-confirmation {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0);
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #333;

    .precio p{
        
        color: #4CAF50;
    }
}

.order-confirmation h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.order-confirmation p {
    font-size: 16px;
    margin: 10px 0;
    color: #555555;
}

.order-confirmation .order-summary {
    margin-top: 15px;
}

.order-confirmation .total-price {
    font-weight: bold;
    font-size: 20px;
    color: #FF5722;
}

.order-confirmation button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.order-confirmation button:hover {
    background-color: #45a049;
}
