

.movie-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-size: cover;
    background-position: center center;
    filter: blur(10px) brightness(0.7); /* Desenfoque de la imagen */
    z-index: -1; /* La imagen de fondo queda detrás del contenido */
    overflow: hidden;
    border: 1px solid #000000; /* Bordes negros para evitar resplandor de desenfoque */
}
.contenedor-general{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 100px;
}


.contenedor-medio{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
}
.contenedor-medio img{
    width: 300px;
}
.contenedor-medio-textos{
    background-color: rgb(250, 242, 231);
    padding-bottom: 40px;
    padding-left: 20px;
    text-align: left;
}
.contenedor-medio-textos h1{
    font-size: 1.6em;
    text-align: left;
}

.contenedor-medio-textos p{
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    text-align: left;
}




.contenedor-chico{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%; 
}
.contenedor-chico p{
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 3%;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    padding: 70px;
}
.boton{
    padding-top: 70px;
}
button {
    background-image: linear-gradient(to right, #ffffff00 0%, #6a6969 30%, #010556 100%);
    background-size: 500% 100%; /* Tamaño del fondo para que la animación funcione */
    background-position: left center; /* Posición inicial */
    border: 0.17em transparent;
    border-radius: 1.1em;
    width: 200px;
    height: 45px;
    color: #000000; /* Color inicial del texto */
            
    text-decoration: none;
    font-size: 1.15em;
    cursor: pointer;
    transition: background-position 1s ease, color 1s ease; /* Aplica la transición al fondo y al color */
    z-index: 1;
    position: relative; /* Asegura que el texto no se vea afectado por el fondo */
}

button:hover {
    background-position: right center;
    color: #ffffff; /* Color del texto al hacer hover */
}

button:active {
    transform: scale(0.95);
}
