

.movie-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left center;
    filter: blur(20px) brightness(0.7); /* Desenfoque de la imagen */
    
    z-index: -1; /* La imagen de fondo queda detrás del contenido */
}
.contenedor-general{
    padding: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 100px;
}


.contenedor-medio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(252, 236, 227);
    border: 1px solid black;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    
}
.contenedor-medio img{
    width: 300px;
}
.contenedor-medio-textos{
    padding-bottom: 40px;
    padding-left: 20px;
    text-align: left;
}
.contenedor-medio-textos h1{
    font-size: 1.6em;
    text-align: left;
}

.contenedor-medio-textos p{
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
    text-align: left;
}




.contenedor-chico{
    display: flex;
    padding-left: 100px;
    width: 100%; 
}
.contenedor-chico p{
    background-color: rgba(255, 204, 165, 0.161);
    border-radius: 3%;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    padding: 70px;
}